@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Spectral:ital,wght@0,300;0,400;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Creepster&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css);

html,
body {
  background-image: url("https://wallpaperaccess.com/full/831751.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  font-family: 'Amatic SC', cursive;
}
.welcome-container {
  text-shadow: 0 0 5px rgb(0, 255, 0);
}
